@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.nav_lista_a .nav_lista_li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.nav_lista {
    list-style: none;


}

.nav_lista li {
    display: inline-block;
    padding: 8px 28px;
}

.nav_lista li a {
    transition: all 0.5s ease 0s;
}

a {
    color: #fdfcfc;
    text-decoration: none;
    font-size: 160%;
}

.nav_lista a:hover {
    color: #000000;
}

.nav_img_logo {
    width: 10%;
    margin: 0%;
    left: 20%;
    padding: 1px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background-color: #720404;
    font-family: "Montserrat", sans-serif;
}

.nav_img_logo {
    width: 10%;
    margin: 0%;
    left: 20%;
    padding: 1px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background-color: #720404;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 70%;
}

h2 {
    font-size: 70%;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-size: 30%;
    text-align: justify;
    font-size: 45px;
}

p {
    line-height: 1.6;
    font-size: 50%;
}

footer {
    background-color: #720404;
    /* Cor de fundo */
    color: #fdfcfc;
    /* Cor do texto */
    text-align: center;
    /* Alinhamento do texto */
    padding: 0.8%;
    /* Espaçamento interno */
    left: 2%;
    /* Alinhamento à esquerda */
    bottom: 5%;
    /* Alinhamento na parte inferior */
    margin: 0%;
    width: 100%;
    /* Largura total */
    font-family: "Montserrat", sans-serif;
}

.social-icons {
    list-style: none;
    padding: 0;

}

.social-icons li {
    display: inline;
    margin: 10px;
    padding: 5px;
    margin-right: 5px;
}

.social-icons img {
    width: 40px;
}